# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3

# Ambientes Virtuais
.venv/
venv/
ENV/
env/
*.egg-info/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de configuração do editor
.vscode/
.idea/

# Arquivos de log
*.log

# Arquivos temporários
*.bak
*.swp


